<ul class="list-group ">
  <li class="list-group-item list-group-item-info list-group-item-action" >User Id=>  {{bankCustomer.uid}} </li>
  <li class="list-group-item list-group-item-info list-group-item-action"> First Name=> {{bankCustomer.firstname}} </li>
  <li class="list-group-item list-group-item-info list-group-item-action"> Last Price=> {{bankCustomer.lastname}} </li>
  <li class="list-group-item list-group-item-info list-group-item-action"> Aadhar Number=> {{bankCustomer.aadharnumber}} </li>
  <li class="list-group-item list-group-item-info list-group-item-action"> Address=> {{bankCustomer.address}} </li>
  <li class="list-group-item list-group-item-info list-group-item-action"> Mobile Number=> {{bankCustomer.mobilenumber}} </li>
  <li class="list-group-item list-group-item-info list-group-item-action">Email=> {{bankCustomer.email}} </li>
  <li class="list-group-item list-group-item-info list-group-item-action"> List of Account=> {{bankCustomer.list | json}} </li>
</ul>
